{% extends "base.html" %}
{% load static %}

{% block 'head' %}


{% endblock 'head' %}

{% block 'body' %}
  
    <div class="wrapper">
 
        <main id="main" class="main">
        
            <div class="pagetitle">
                <h1>Monitoramento & Acompanhamento</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url  'url_home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'url_rtrdas_entrgas' %}">Lista</a></li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="section">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Relação de de Pets sob observação</h5>

                                <!-- Table with stripped rows -->
                                <table class="table datatable table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Cliente</th>
                                            <th scope="col">PET</th>
                                            <th scope="col">Local</th>
                                            <th scope="col">Entrada</th>
                                            <th scope="col">Saída</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rsgstr_mntrmnto in rtrds_mntrmnto  %} 
                                            <tr>
                                                <td><a title="{{rsgstr_mntrmnto.id}}" href="{% url 'url_mntrnto' rsgstr_mntrmnto.id %}">{{rsgstr_mntrmnto.pet_cliente.cliente.first_name}} {{rsgstr_mntrmnto.pet_cliente.cliente.last_name}}</a></td>
                                                <td><a href="{% url 'url_mntrnto' rsgstr_mntrmnto.id %}">{{rsgstr_mntrmnto.pet_cliente.Pet}} {{rsgstr_mntrmnto.pet_cliente.Pet_Raca }} : {{rsgstr_mntrmnto.pet_cliente.Pet_Raca }}</a></td>
                                                <td><a title=" {{rsgstr_mntrmnto.local.descricao }}" href="{% url 'url_mntrnto' rsgstr_mntrmnto.id %}">{{rsgstr_mntrmnto.local.nome}}</a></td>
                                                <td><a href="{% url 'url_mntrnto' rsgstr_mntrmnto.id %}">{{ rsgstr_mntrmnto.start_date|date:"d/m/Y H:i" }}</a></td>
                                                <td><a href="{% url 'url_mntrnto' rsgstr_mntrmnto.id %}">{{ rsgstr_mntrmnto.end_date|date:"d/m/Y H:i" }}</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- End Table with stripped rows -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main><!-- End #main -->

    </div>

<!--Ativa as opções do menu principal esquerdo -->
<script language="JavaScript">
    <!--
        document.getElementById('components-nav').className ='nav-content collapse show';
        document.getElementById('sidebar-nav-Monitoramento').className ='active';
    //-->
</script>

{% endblock 'body' %}