{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.8/inputmask.min.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


{% endblock 'head' %}

{% block 'body' %}

    <div class="wrapper">
 
        <main id="main" class="main">

            <section class="section">

                <div class="row" >
                    <div class="pagetitle">
                        <h1>Entrega & Retirada Selecionada</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'url_home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'url_rtrdas_entrgas' %}">Cadastro</a></li>
                            <li class="breadcrumb-item active">Editando</li>
                        </ol>
                    </div>
                    {% for message in messages %}
                        <section class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                            <i class="bi 
                                {% if message.tags == 'success' %}bi-check-circle-fill text-success
                                {% elif message.tags == 'error' %}bi-x-circle-fill text-danger
                                {% elif message.tags == 'warning' %}bi-exclamation-triangle-fill text-warning
                                {% else %}bi-info-circle-fill text-info{% endif %}
                            "></i>
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </section>
                    {% endfor %}
                    <div class="col-md-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="VGeral-tab" data-bs-toggle="tab" data-bs-target="#VGeral" type="button" role="tab" aria-controls="VGeral" aria-selected="true">Cliente</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pet-tab" data-bs-toggle="tab" data-bs-target="#pet" type="button" role="tab" aria-controls="pet" aria-selected="false">Pet</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="endereco-perfil-tab" data-bs-toggle="tab" data-bs-target="#endereco-perfil" type="button" role="tab" aria-controls="endereco-perfil" aria-selected="false">Endereço</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="Dslokmnto-tab" data-bs-toggle="tab" data-bs-target="#Dslokmnto" type="button" role="tab" aria-controls="Dslokmnto" aria-selected="false">Deslocamento</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="foto-perfil-tab" data-bs-toggle="tab" data-bs-target="#foto-perfil" type="button" role="tab" aria-controls="foto-perfil" aria-selected="false">Foto Perfil</button>
                            </li>
                            <li class="nav-item" role="presentation">
                            <button class="nav-link" id="#AltrrPswrd-tab" data-bs-toggle="tab" data-bs-target="#AltrrPswrd" type="button" role="tab" aria-controls="#AltrrPswrd" aria-selected="false">Alterar Senha</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2" id="myTabBasico">
                            <div class="tab-pane fade show active accordion-item" id="VGeral" role="tabpanel" aria-labelledby="VGeral">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="card">
                                            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                <div class="col-md"><img src="{{RtrdaEntrga.Pet_Cliente.cliente.perfil.Foto.url}}" class="rounded-circle" style="height: auto; max-width: 150px;" alt="Foto do Cliente"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <p class="p-bold"><a><b>Cliente: </b>{{RtrdaEntrga.Pet_Cliente.cliente.first_name}} {{RtrdaEntrga.Pet_Cliente.cliente.last_name}}</a>
                                        <p><b>Endereço: </b>{{ RtrdaEntrga.Pet_Cliente.cliente.perfil.Endereco }} - {{ RtrdaEntrga.Pet_Cliente.cliente.perfil.Cidade }}/{{ RtrdaEntrga.Pet_Cliente.cliente.perfil.UF }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show accordion-item" id="pet" role="tabpanel" aria-labelledby="pet">
                                <div class="row">
                                    <div class="col-md">
                                        <b>Detalhe do Pet: </b>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img src="{{RtrdaEntrga.Pet_Cliente.Pet_Foto.url}}" class="foto-perfil-card-lg" style="height: 195px; width: auto;" title="Foto do Pet" alt="Foto do Pet">
                                            </div>    
                                            <div class="col-md-1">
                                                <div data-mdb-input-init class="form-outline">
                                                    <label for=""><b>Espécie:</b></label><br>
                                                    {{RtrdaEntrga.Pet_Cliente.Pet}}
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div data-mdb-input-init class="form-outline">
                                                    <label for=""><b>Raça:</b></label><br>
                                                    {{RtrdaEntrga.Pet_Cliente.Pet_Raca }}
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div data-mdb-input-init class="form-outline">
                                                    <label for=""><b>Nome:</b></label><br>
                                                    {{RtrdaEntrga.Pet_Cliente.Pet_Nome }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show  accordion-item" id="Dslokmnto" role="tabpanel" aria-labelledby="Dslokmnto">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <h5 class="p-bold">Detalhes da Entrega e Retirada </h5>
                                            <div class="row mb-12">
                                                <div class="tab-pane col-md-12" id="get_dados" role="tabpanel" style="height: 690px; width: 110%;">
                                                    <iframe
                                                        src="{{ iframe_url }}"
                                                        width="100%"
                                                        height="685px"
                                                        style="border:0;"
                                                        allowfullscreen=""
                                                        loading="lazy">
                                                    </iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </main><!-- End #main -->

    </div>    

    <!--Ativa as opções do menu principal esquerdo -->
<script language="JavaScript">
    <!--
        document.getElementById('components-nav').className ='nav-content collapse show';
        document.getElementById('sidebar-nav-Atendimento-consultas').className ='active';
    //-->
</script>


{% endblock 'body' %}